.miniWidget{
    width: 6.5rem;
    height: 8rem; 
    border-radius: 6px;
    border: 1px solid ;
    margin-right:5px ;
    padding: 10px 6px; 
}

.miniWidget h4{
    text-align: center;
    margin-bottom: 8px;
}

.miniWidget ul li{
    display: flex;
    justify-content: space-between;
    line-height: 25px;
    border-top: 1px solid var(--otherGrey);
}