:root{
    --white: #ffff;
    --mainBackground: #F2F3F5;
    --grey : #555454;
    --backGrey: #EAEBED;
    --otherGrey : #9e9e9e;
    --btnHover : #bbb8b8;
    --scrollBarColor : #e0e0e0;
    --dateBackGround:#E6E6E6;
    --blue : #00C4F8;
    --green: #8CCD01;
    --oragen: #FF7F00;
    --legendsBlue: #ACE7F5;
    --imgBlue: #063B5A;
    --otherBluelegend: #167598;
}

/* Removing some standard settings */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.circleImg{
    padding: 1px;
    background-color: var(--white);
    border-radius: 50%;
    border: 3px solid var(--imgBlue) ; 
}

.App{
    display: flex;
    margin-top: 20px ;
}

.menuBar{
    display: none;
}

body,html,:root{
    min-height: 100%;
}

body{
    background-color: var(--mainBackground);
}

.leftSide{
    width: 18rem; 
    position: relative;
    z-index: 1;  
    margin-left: 30px; 

}


main{
    width: 50%;
    height: 100%; 
    margin: 0 10px 0 40px; 
}

main ul{
    width: 98%;
    overflow-y: scroll;
    height: 100vh;
}

main ul::-webkit-scrollbar{
    background-color: inherit; ;
    width: 8px;

}

main ul::-webkit-scrollbar-thumb{
    background-color: var(--scrollBarColor);  
    border-radius: 20px;
    
}

main ul li{
    margin-bottom: 20px;
    margin-right: 10px;
}

.rightSide{
    width: 24%;
    margin-right: 20px;
} 


@media screen and (max-width:1250px){
    .rightSide{
        display: none;
    }
    main{
        width: 100%;
    }
}

@media screen and (max-width:1000px){
    .leftSide{
        display: none;
    }
    main{
        width: 100%;
    }
    .menuBar{
        display: block;
    }
}

